/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 150px;
  height: 35px;
  margin-top: 5px;
  margin-left: 10px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
/* date-picker.css */
.datePicker {
  width: 150px;
  margin-top: 2px;
}
.datePicker label.Mui-focused {
  color: #fa6400;
}
/* date-picker.css */
.datePicker label {
  font-size: 20px;
  color: #fa6400;
  font-family: sans-serif;
  font-weight: 600;
}

.datePicker .MuiInput-underline:after {
  border-bottom-color: blue;
}
.button-6 {
  align-items: center;
  background-clip: padding-box;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 130px;
  height: 35px;
  margin-top: 50px;
  margin-left: 10px;
}
.name-field {
  height: 35px;
  text-align: center;
}
.pawti-field {
  height: 35px;
  text-align: center;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.filter-pawtino {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
}
.filter-name {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.date-filter {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 10px;
}
.button-7 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 150px;
  height: 35px;
  margin-top: px;
  margin-left: 10px;
}
